<section>
  <mat-card 
  fxLayout="column"  class="demo-card-container">
       <mat-card-title>
            Login
      </mat-card-title>     
      <mat-card-content> 
        <form
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayoutGap="10px"
          #formSignIn="ngForm"
          (ngSubmit)="onSubmit(formSignIn)">

            <mat-form-field>
            <input 
              type="email" 
              matInput 
              ngModel
              name="email"
              placeholder="Your email" 
              #emailInput="ngModel"
              required>
              <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
              <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input 
              type="password"
              name="password"
              matInput 
              ngModel
              placeholder="Your password" 
              #passwordInput="ngModel"
              minlength="6"
              required>
            <mat-hint align="end">{{ passwordInput.value?.length }} / 6</mat-hint>
            <mat-error>Has to be at least 6 characters long.</mat-error>
          </mat-form-field>

          <button *ngIf="!(isLoading$ | async)" 
                  type="submit" 
                  mat-raised-button
                  color="primary" 
                  [disabled]="formSignIn.invalid">Submit</button>
          
          <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
        </form>
      </mat-card-content>

</mat-card>
</section>